<%- include('./partials/head') %>

    <a href="/?squad=<%= squad.slug %>&orderBy=name" class="order-by-name"
      >Sorteer op voornaam</a
    >

 <article class="team-section">
    <h1>MEET THE ARTIST FROM <%= squad.name %></h1>
        <section class="container">
          <% squad.members.forEach(member => { %>
          <main class="avatar">
            <div class="img">
                <% if (member.avatar) { %>
                    <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
                     <% }else{ %>
                      <img src="/placeholder.jpg" alt="Placeholder avatar" />
                      <% } %>
                  </div>
                  <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
                  <p class="nickname"><%= member.nickname %></p>
                  <a href="<%= member.website %>"><i class="fa fa-play-circle"></i></a>
                </main>
     <% }) %>
  </section>
    
<%- include('./partials/footer') %>
